/checkpoints*/
/mlflow.db
/stat/
/.venv/
/outputs/
/logs/
paperscout/
.codex
Agent-R1-lagacy/
__pycache__/
*.pyc
/recipe/paper_search/selector-qwen3-8b
alfworld_data/
data/alfworld/
webshop_data_full/
webshop_data_small/
data/webshop_full/
data/webshop_debug/
data/webshop_new_env/
debug/
mlruns/
mlartifacts/
h100/
h100_1_7B/
h200/
slurm/
*.html
EXPERIMENT_SETTINGS.md
data/corpus/hotpotqa_corpus/
webshop_scripts/
verl-agent/
data/raw/
data/corpus/2wikimultihopqa_corpus/
data/corpus/musique_corpus/
data/corpus/hotpotqa/raw_*/
data/corpus/hotpotqa/*.parquet
wandb/
swanlab/